<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Model" value="HZYT.Model"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=ISOFTSTONE-PC;database=HZYT_Soft;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>